body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
  text-decoration: none;
}

a:hover {
  border: 1px solid $mainOrange;
  padding: 5px;
  transition: all .3s ease-in;
}
