.primary-nav {

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 5rem;
    height: 10rem;
    top: 330px;
    left: 50px;
  }

  li {
    list-style: none;
    max-width: 4.3em;
  }

  a {

  }

}
